body {
    font-family: sans-serif;
    width: 300px;
    margin: 50px auto;
}

.input-group {
    margin-bottom: 10px;
}

input, button {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.error {
    color: red;
}

.hidden {
    display: none;
}
